<!--<link href="https://bootswatch.com/journal/bootstrap.min.css" type="text/css" rel="stylesheet">-->

<div ng-controller="UserLoginController" id="user-login" >
	<table class="full">
		<tr>
			<td>
			<div class="pull-right" style="margin-right:50px;">
				<form id="login-box" ng-submit="login()">
					<input type="text" id="user_id" ng-model="user_id" class="form-control" placeholder="email" />
					<br />
					<input type="password" id="password" ng-model="password" class="form-control" placeholder="password" />
					<br />
					<input type="submit" value="Login" class="btn btn-small btn-info pull-right" />
					<div style="clear:both;"></div>
				</form>
			</div>
			</td>
		</tr>
	</table>
</div>

<script>
	(function(){
		document.getElementById("user_id").focus();
	})(document);
</script>