<link href="https://bootswatch.com/journal/bootstrap.min.css" type="text/css" rel="stylesheet"></style>

<div ng-controller="UserLoginController" id="user-login" >
	<table class="full">
		<tr>
			<td>
			<div class="pull-right" style="margin-right:50px;">
				<div id="login-box">
					<input type="text" id="username" class="form-control" placeholder="email" />
					<br />
					<input type="password" id="password" class="form-control" placeholder="password" />
					<br />
					<button class="btn btn-small btn-primary pull-right">Login</button>
					<div style="clear:both;"></div>
				</div>
			</div>
			</td>
		</tr>
	</div>
</div>