<div ng-controller="DObjectsRootController" id="dobjects" class="container" ng-init="tabs_to_show = 3">

<ul class="nav nav-tabs">
  	<li ng-repeat="form in forms | limitTo:tabs_to_show" ng-class="collection === form.collection ? 'active' : ''">
  		<a ng-href="#{{form.collection}}" data-toggle="tab" aria-expanded="{{collection === form.collection ? true : false}}">{{form.name}}</a>
  	</li>
	<li class="dropdown" ng-if="forms.length > tabs_to_show">
		<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" aria-expanded="false">More <span class="caret"></span></a>
		<ul class="dropdown-menu">
		  <li ng-repeat="form in forms.slice(tabs_to_show, forms.length)" ng-class="collection === form.collection ? 'active' : ''"><a href="#{{form.collection}}" data-toggle="tab">{{form.name}}</a></li>
		</ul>
	</li>
  
  	<li class="dropdown pull-right">
    	<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{username}} <span class="caret"></span></a>
    	<ul class="dropdown-menu">
	        <li><a href="#settings" data-toggle="tab">Form Settings</a></li>
	      	<li class="divider"></li>
	        <li><a ng-click="logout()" data-toggle="tab">Logout</a></li>
    	</ul>
  	</li>
</ul>
<div class="tab-content">
  	<div class="tab-pane fade active in">
  		<div ng-include="getActionTemplateUrl()"></div>
	</div>
</div>
<div class="footer center">
	
</div>
</div>